//IMPORTO LIBRERIE NEL PROGETTO

@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

//DIVISIONE MACROCOMPONENTI

header {
    height: 80vh;
    width: 100%;
    color: $text-white;
}

.nav-bar {
    height: 10vh;
}

.jumbo {
    height: calc(80vh - 10vh);
}

.myWrapper{
    max-width: 90%;
    margin: 0 auto;
}

.section-testimonials {
    height: 50vh;
}