//INSERISCO VARIABILI GLOBALI

//PALETTE COLORI

$text-white: #fff;
$text-black: #000;
$light-blue: rgb(101, 195, 249);
$bg-footer: rgb(34, 34, 34);
$red-bg-icon: rgb(221, 63, 87);


//GRAY CARD SECTION 1
$bg-gray: rgb(243, 248, 251);

//BTN SECTION 6
$orange-color: rgb(250, 215, 94);
